/* your styles go here */
.brand {
  width: 200px;
  padding: 24px 0;
  padding-left: 40px;
}
.edit-zone {
  padding-left: 50px;
}

.main-content {
  padding-top: 75px;
  padding-left: 255px;
  padding-right: 40px;
}
.activePic {
  width: 400px;
  height: auto;
}
.addbtn {
  :hover {
    color: white;
  }
}
