body {
  background-color: rgb(245, 245, 245);
}

:root {
  --primary-color: rgb(161, 29, 29);
  --primary-hover-color: rgb(114, 14, 14);
  --primary-active-color: rgb(161, 29, 29);
}
.btn-dark {
  --bs-btn-bg: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-bg: var(--primary-hover-color);
  --bs-btn-hover-border-color: var(--primary-hover-color);
  --bs-btn-active-bg: var(--primary-active-color);
  --bs-btn-active-border-color: var(--primary-active-color);
}
.btn.active {
  background-color: var(--primary-color);
}
.btn-outline-danger {
  --bs-btn-color: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: var(--primary-color);
  --bs-btn-active-border-color: var(--primary-hover-color);
  --bs-btn-hover-border-color: var(--primary-color);
  --bs-btn-active-bg: var(--primary-hover-color);
}

.pagination {
  --bs-pagination-color: var(--primary-color);
  --bs-pagination-active-bg: var(--primary-color);
  --bs-pagination-active-border-color: var(--primary-color);
  --bs-pagination-hover-color: var(--primary-color);
  --bs-pagination-focus-color: var(--primary-color);
}
