/* #region product_list start */
.price-pagination-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.price-filter {
  display: inline-block !important;
  width: 50%; /* 這裡的 50% 可以改成具體的像素值或者百分比 */
  text-align: right; /* 分頁按鈕靠右對齊 */
}